---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ACGenerator from "../assets/pmsImage.png";
import FluidPropulsion from "../assets/soyuz.webp";
import ElectricMotor from "../assets/behnadvepromile.jpg";
import AuditD from "../assets/auditD.jpg";
import Zabradli from "../assets/opravaZabradliReal.jpg";
import Svarovani from "../assets/svarovani.jpg";
import BioMaterial from "../assets/biomaterial.jpg";
import Slevani from "../assets/slevani.jpg";
import Expedice from "../assets/expedice.jpg";
import Optika from "../assets/optika.jpg";
import Montazka from "../assets/montaznijednotka.jpg";


const projects = [
     {
          title: "Andromeda",
          description: "Největší raketa v Česku. Hydribní motor.",
          image: FluidPropulsion
     },
     {
          title: "Stránky porgmedicalsociety",
          description: "Dr. Erik Liu si vybral moji firmu R&D Web Engineering LLC pro návrh jejich stránek.",
          image: ACGenerator
     },
     {
          title: "Běh na 2 promile",
          description: "Organizace největšího opileckého běhu v České republice",
          image: ElectricMotor
     },
     {
          title: "Audit stavby metra D",
          description: "Dozor nad probíhající stavbou metra D. Audit bezpečnosti, kvality a zodpovědnosti.",
          image: AuditD
     },
     {
          title: "Revitalizace zábradlí kanadské ambasády",
          description: "Ošetření a nátěr seschlého zábradlí na kanadské ambasádě.",
          image: Zabradli
     },
     {
          title: "Investigace nejepších svařovacích metod",
          description: "V rámci hledání nejlepší svařovací se nám povedlo získat druhé (skoro první) místo ve virtuálním svařování.",
          image: Svarovani
     },
     {
          title: "Testování biomateriálů",
          description: "Exkurze do světového hubu biomateriálu (Obec Hrušky), kde jsme prováděli testy (chuťové) různých biomateriálů. ",
          image: BioMaterial
     },
     {
          title: "Proof-of-concept odlévání hliníkových slitin",
          description: "Povedlo se nám využít elektrickou indukční pec a bentonitovou formu pro odlití hliníkové slitiny.",
          image: Slevani
     },
     {
          title: "Polární expedice 100km 24h",
          description: "Se zkušeným týden jsem se vydali na riskatní 100km za 24h polární expedici z Kladna. Ušli jsme 50km.",
          image: Expedice
     },
     {
          title: "Vývoj pokročilých optických zařízení",
          description: "S mým týmem odborníků pracujeme na vývoji pokročilých optických zařízení v našich laboratořích.",
          image: Optika
     },
     {
          title: "Návrh montážní jednotky",
          description: "Na obrázku je vidět návrhový výkres montážní jednotky (zakázka od firmy (ČVUT)).",
          image: Montazka
     }
     ];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
          <H1> Projekty </H1>

          <ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <Image src={project.image} alt={project.title} class="aspect-[1/1.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" />
                         <div class="p-1 sm:p-2">
                              <h2 class="text-base text-zinc-100">{project.title}</h2>
                              <p class="text-sm text-zinc-400 text-balance">{project.description}</p>
                         </div>
                    </li>
               ))}
          </ul>
     </div>
</InfoLayout>